<div class="mb-4">
    <label class="form-label" for="testField">Text Field</label>
    <input type="text" id="testField" class="form-control" name="testField" placeholder="Placeholder Text"/>
</div>
<div class="mb-4">
    <label class="form-label" for="testRequired">Required Text Field</label>
    <input type="text" id="testRequired" class="form-control" name="testRequired" required/>
</div>
<div class="mb-4">
    <label class="form-label" for="testFieldError">Text Field with Error</label>
    <input type="text" id="testFieldError" class="form-control is-invalid" name="testFieldError"/>
    <div class="invalid-feedback">This is a test error</div>
</div>
<div class="mb-4">
    <label class="form-label" for="testDisabled">Disabled Text Field</label>
    <input type="text" id="testDisabled" class="form-control" name="testDisabled" placeholder="Placeholder Text" disabled/>
</div>
<div class="mb-4">
    <label class="form-label" for="testHelpText">Text Field with Help Text</label>
    <input type="text" id="testHelpText" class="form-control" name="testHelpText"/>
    <div id="testHelp" class="form-text">Example Help Text</div>
</div>
<div class="mb-4">
    <label class="form-label" for="test">Text Field with Help Tooltip</label>
    <span class="info-icon" data-bs-toggle="tooltip" data-bs-title="Testing Tooltip Content">
        {% render 'icon-info' %}
    </span>
    <input type="text" id="test" class="form-control" name="test"/>
</div>
<div class="mb-4">
    <label class="form-label" for="test2">Select Box</label>
    <span class="info-icon" data-bs-toggle="tooltip" data-bs-title="Testing Tooltip Content">
        {% render 'icon-info' %}
    </span>
    <select class="form-select" id="test2" name="test">
        <option label=""></option>
        <option label="Test Value 1">Test Value 1</option>
        <option label="Test Value 2">Test Value 2</option>
        <option label="Test Value 3">Test Value 3</option>
    </select>
</div>

<div class="mb-4">
    <label class="form-label" for="test">Disabled Select Menu</label>
    <select class="form-select" id="test2" name="test" disabled>
        <option label=""></option>
        <option label="Test Value 1">Test Value 1</option>
        <option label="Test Value 2">Test Value 2</option>
        <option label="Test Value 3">Test Value 3</option>
    </select>
</div>

<div class="mb-4">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-test" name="checkbox-test" value="true" checked/>
        <label class="form-check-label" for="checkbox-test">Checkbox</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-test2" name="checkbox-test2" value="true"/>
        <label class="form-check-label" for="checkbox-test2">Checkbox</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-test3" name="checkbox-test3" value="true" disabled="disabled"/>
        <label class="form-check-label" for="checkbox-test3">Disabled</label>
    </div>
</div>

<div class="mb-4">
    <div class="form-check">
        <input id="radio-test1" name="radio-test" type="radio" class="form-check-input" checked>
        <label for="radio-test1" class="form-check-label">
            <span>Option 1</span>
        </label>
    </div>
    <div class="form-check">
        <input id="radio-test2" name="radio-test" type="radio" class="form-check-input">
        <label for="radio-test2" class="form-check-label">
            <span>Option 2</span>
        </label>
    </div>
    <div class="form-check">
        <input id="radio-test3" name="radio-test" type="radio" class="form-check-input" disabled="disabled">
        <label for="radio-test3" class="form-check-label">
            <span>Disabled</span>
        </label>
    </div>
</div>

<div class="mb-4">
    <div class="form-check form-switch">
        <input type="checkbox" role="switch" class="form-check-input" id="toggle-test1" checked>
        <label class="form-check-label" for="toggle-test1">Toggle</label>
    </div>
    <div class="form-check form-switch">
        <input type="checkbox" role="switch" class="form-check-input" id="toggle-test2" disabled="disabled">
        <label class="form-check-label" for="toggle-test2">Disabled</label>
    </div>
</div>