<h4>Brand Colors</h4>
<ul class="colors colors-data">
    <li>
        <div class="swatch bg-primary">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-primary)">--bs-primary</button>
            <button class="btn btn-text copy-to-cb">#0d6efd</button>
        </div>
        <div class="swatch-title">Primary</div>
    </li>
    <li>
        <div class="swatch bg-secondary">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-secondary)">--bs-secondary</button>
            <button class="btn btn-text copy-to-cb">#6c757d</button>
        </div>
        <div class="swatch-title">Secondary</div>
    </li>
    <li>
        <div class="swatch bg-accent">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-accent)">--bs-accent</button>
            <button class="btn btn-text copy-to-cb">#198754</button>
        </div>
        <div class="swatch-title">Accent</div>
    </li>
</ul>

<h4>Secondary Colors</h4>
<ul class="colors colors-secondary-data">
    <li>
        <div class="swatch bg-blue">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-blue)">--bs-blue</button>
            <button class="btn btn-text copy-to-cb">#0d6efd</button>
        </div>
        <div class="swatch-title">Blue</div>
    </li>
    <li>
        <div class="swatch bg-indigo">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-indigo)">--bs-indigo</button>
            <button class="btn btn-text copy-to-cb">#6610f2</button>
        </div>
        <div class="swatch-title">Indigo</div>
    </li>
    <li>
        <div class="swatch bg-purple">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-purple)">--bs-purple</button>
            <button class="btn btn-text copy-to-cb">#6f42c1</button>
        </div>
        <div class="swatch-title">Purple</div>
    </li>
    <li>
        <div class="swatch bg-pink">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-pink)">--bs-pink</button>
            <button class="btn btn-text copy-to-cb">#d63384</button>
        </div>
        <div class="swatch-title">Pink</div>
    </li>
    <li>
        <div class="swatch bg-red">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-red)">--bs-red</button>
            <button class="btn btn-text copy-to-cb">#dc3545</button>
        </div>
        <div class="swatch-title">Red</div>
    </li>
    <li>
        <div class="swatch bg-orange text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-orange)">--bs-orange</button>
            <button class="btn btn-text copy-to-cb">#fd7e14</button>
        </div>
        <div class="swatch-title">Orange</div>
    </li>
    <li>
        <div class="swatch bg-yellow text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-yellow)">--bs-yellow</button>
            <button class="btn btn-text copy-to-cb">#ffc107</button>
        </div>
        <div class="swatch-title">Yellow</div>
    </li>
    <li>
        <div class="swatch bg-green">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-green)">--bs-green</button>
            <button class="btn btn-text copy-to-cb">#198754</button>
        </div>
        <div class="swatch-title">Green</div>
    </li>
    <li>
        <div class="swatch bg-teal text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-teal)">--bs-teal</button>
            <button class="btn btn-text copy-to-cb">#20c997</button>
        </div>
        <div class="swatch-title">Teal</div>
    </li>
    <li>
        <div class="swatch bg-cyan text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-cyan)">--bs-cyan</button>
            <button class="btn btn-text copy-to-cb">#0dcaf0</button>
        </div>
        <div class="swatch-title">Cyan</div>
    </li>
</ul>

<h4>Greyscale Colors</h4>
<ul class="colors colors-greyscale-data">
    <li>
        <div class="swatch bg-white text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-white)">--bs-white</button>
            <button class="btn btn-text copy-to-cb">#fff</button>
        </div>
        <div class="swatch-title">White</div>
    </li>
    <li>
        <div class="swatch bg-gray-100 text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-gray-100)">--bs-gray-100</button>
            <button class="btn btn-text copy-to-cb">#f8f9fa</button>
        </div>
        <div class="swatch-title">Gray 100</div>
    </li>
    <li>
        <div class="swatch bg-gray-200 text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-gray-200)">--bs-gray-200</button>
            <button class="btn btn-text copy-to-cb">#e9ecef</button>
        </div>
        <div class="swatch-title">Gray 200</div>
    </li>
    <li>
        <div class="swatch bg-gray-300 text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-gray-300)">--bs-gray-300</button>
            <button class="btn btn-text copy-to-cb">#dee2e6</button>
        </div>
        <div class="swatch-title">Gray 300</div>
    </li>
    <li>
        <div class="swatch bg-gray-400 text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-gray-400)">--bs-gray-400</button>
            <button class="btn btn-text copy-to-cb">#ced4da</button>
        </div>
        <div class="swatch-title">Gray 400</div>
    </li>
    <li>
        <div class="swatch bg-gray-500 text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-gray-500)">--bs-gray-500</button>
            <button class="btn btn-text copy-to-cb">#adb5bd</button>
        </div>
        <div class="swatch-title">Gray 500</div>
    </li>
    <li>
        <div class="swatch bg-gray-600">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-gray-600)">--bs-gray-600</button>
            <button class="btn btn-text copy-to-cb">#6c757d</button>
        </div>
        <div class="swatch-title">Gray 600</div>
    </li>
    <li>
        <div class="swatch bg-gray-700">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-gray-700)">--bs-gray-700</button>
            <button class="btn btn-text copy-to-cb">#495057</button>
        </div>
        <div class="swatch-title">Gray 700</div>
    </li>
    <li>
        <div class="swatch bg-gray-800">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-gray-800)">--bs-gray-800</button>
            <button class="btn btn-text copy-to-cb">#343a40</button>
        </div>
        <div class="swatch-title">Gray 800</div>
    </li>
    <li>
        <div class="swatch bg-gray-900">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-gray-900)">--bs-gray-900</button>
            <button class="btn btn-text copy-to-cb">#212529</button>
        </div>
        <div class="swatch-title">Gray 900</div>
    </li>
    <li>
        <div class="swatch bg-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-black)">--bs-black</button>
            <button class="btn btn-text copy-to-cb">#000</button>
        </div>
        <div class="swatch-title">Black</div>
    </li>
</ul>

<h4>Utilities/Alerts</h4>
<ul class="colors colors-alerts-data">
    <li>
        <div class="swatch bg-success">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-success)">--bs-success</button>
            <button class="btn btn-text copy-to-cb">#198754</button>
        </div>
        <div class="swatch-title">Success</div>
    </li>
    <li>
        <div class="swatch bg-warning text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-warning)">--bs-warning</button>
            <button class="btn btn-text copy-to-cb">##ffc107</button>
        </div>
        <div class="swatch-title">Warning</div>
    </li>
    <li>
        <div class="swatch bg-danger">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-danger)">--bs-danger</button>
            <button class="btn btn-text copy-to-cb">#dc3545</button>
        </div>
        <div class="swatch-title">Danger</div>
    </li>
    <li>
        <div class="swatch bg-info text-black">
            <button class="btn btn-text copy-to-cb" data-copy-value="var(--bs-info)">--bs-info</button>
            <button class="btn btn-text copy-to-cb">#0dcaf0</button>
        </div>
        <div class="swatch-title">Info</div>
    </li>
</ul>